[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	logs = log --date=format:'%b-%d-%y' --pretty='%C(auto)%h%Creset %ad %C(black bold)%aN%Creset %s'
	logss = log --all --graph --date=format:'%b-%d-%y' --pretty='%C(auto)%h%Creset %ad %C(black bold)%aN%Creset %C(auto)%d %s'
	cp = cherry-pick
[user]
	email = chohocvo@gmail.com
	name = Hoc Vo
